*.class

# Package Files #
*.jar
*.war
*.ear
*.swp

.tmp

*.log

node_modules
bower_components
deptree.txt
dist
.settings
.project
.classpath
.buildpath
target

pom.xml.releaseBackup
release.properties


