<h3>{{'CONFIG_HEADING' | translate}}</h3>

<!-- <form role="form"> -->
<!--     <div class="form-group"> -->
<!--         <label>Default Sparql Proxy Cache Time to Live -->
<!--             <input ng-model="config.cacheTime" type="text" class="form-control" placeholder="e.g. 10"> -->
<!--         </label> -->
<!--         TODO Add dropdown with time unit (minutes, hours, days, and weeks) -->
<!--         <input type="submit" value="Confirm"> -->
<!--     </div> -->
<!-- </form> -->

<div class="row">
<div class="col-md-12">

<table class="table table-striped">
    <tr>
        <td>{{'CONFIG_UI_LANGS' | translate}}</td>
        <td>
            <ul class="list-inline">
                <li><button ng-click="changeLanguage('de')" style="margin-bottom: 15px; margin-top: 15px;" translate="BUTTON_LANG_DE"></button></li>
                <li><button ng-click="changeLanguage('en')" style="margin-bottom: 15px; margin-top: 15px;" translate="BUTTON_LANG_EN"></button></li>
            </ul>
        </td>
<!--         <td><lang-select langs="langs" available-langs="availableLangs"></lang-select></td> -->
    </tr>
    <tr>
        <td>{{'CONFIG_DATASET_LANGS' | translate}}</td>
        <td><lang-select langs="langs" available-langs="availableLangs"></lang-select></td>
    </tr>
    <tr>
        <td>{{'CONFIG_SSS_CACHE' | translate}}</td>
        <td>
            <div class="input-group">
                <button class="btn btn-warning" ng-click="clearServerSideSparqlCache()">{{'CONFIG_CLEAR_CACHE' | translate}}</button>
            </div>
        </td>
    </tr>
</table>

</div>
</div>
