
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{{'TOGGLE_NAVIGATION' | translate}}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="padding: 3px 15px;" href="#"><img style="height: 42px;" src="images/logo-eccenca-plain.png" alt=""></img></a>
            <a class="navbar-brand" href="#">{{'TITLE' | translate}}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" ng-model="app.searchString" class="form-control" placeholder="Find Place...">
                </div>
                <button type="submit" ng-click="doSearch(app.searchString)" class="btn btn-default">{{'SUBMIT' | translate}}</button>
            </form>
            <ul class="nav nav-pills navbar-nav">
                <li><a ui-sref="home">{{'MAIN' | translate}}</a></li>
                <li><a ui-sref="config">{{'CONFIG' | translate}}</a></li>
                <li><button ng-click="changeLanguage('de')" style="margin-bottom: 15px; margin-top: 15px;" translate="BUTTON_LANG_DE"></button></li>
      			    <li><button ng-click="changeLanguage('en')" style="margin-bottom: 15px; margin-top: 15px;" translate="BUTTON_LANG_EN"></button></li>
            </ul>

<!--                <ul class="nav navbar-nav"> -->
<!--                    <li class="dropdown"><a href="#" class="dropdown-toggle" -->
<!--                        data-toggle="dropdown">Tools <b class="caret"></b></a> -->
<!--                        <ul class="dropdown-menu"> -->
<!--                            <li><a href="#">Interlinking</a></li> -->
<!--                            <li><a href="#">Fusion</a></li> -->
<!--                        </ul></li> -->
<!--                </ul> -->

            <ul class="nav nav-pills navbar-nav navbar-right">
                <li class="dropdown" ng-class="{'active': (notifications.length > 0)}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'NOTIFICATIONS' | translate}} <span class="badge">{{notifications.length}}</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="overflow: auto; max-height: 500px;">
                        <li ng-if="!(notifications.length > 0)">({{'_EMPTY_LIST' | translate}})</li>
                        <li ng-repeat="item in notifications | reverse" class="well well-sm" style="margin: 5px;">
                            <div style="border-style:solid; border-color: #eeeeee; border-width: 1px; margin: 5px; padding: 5px; width: 250px;">
                                <b ng-if="item.jobStatus.isCounting">Preparing export (counting)...</b>
                                <b ng-if="item.jobStatus.isRetrieving">Preparing export (retrieving)...</b>
                                <b ng-if="item.jobStatus.isSucceeded">Export succeeded.</b>
                                <b ng-if="item.jobStatus.isFailed">Export failed.</b>
                                <table style="width: 100%">
                                   <tr>
                                       <td style="padding: 5px;">
                                           <a ng-if="item.jobStatus.isSucceeded" class="btn btn-primary btn-large" style="width: 100%;" target="_blank" href="api/export/retrieve?id={{item.jobStatus.id}}&format=csv&rename={{item.rename}}">CSV</a>
                                       </td>
                                       <td style="padding: 5px;">
                                           <a ng-if="item.jobStatus.isSucceeded" class="btn btn-primary btn-large" style="width: 100%;" target="_blank" href="api/export/retrieve?id={{item.jobStatus.id}}&format=xml&rename={{item.rename}}">XML</a>
                                       </td>
                                   <tr>
                                </table>
                                <progressbar class="active" ng-class="{'progress-striped': item.jobStatus.isRunning}" animate="true" value="item.jobStatus.progress.percentage" type="{{(item.jobStatus.isRunning || item.jobStatus.isSucceeded) ? 'success' : 'danger'}}"><b>{{item.jobStatus.progress.percentage}}%</b></progressbar>
                                <span>Processed {{item.jobStatus.progress.current || '0'}} / {{item.jobStatus.progress.max != null ? item.jobStatus.progress.max : '?'}} items.</span>
<!--                                <progressbar class="active progress-striped" ng-class="{'': item.jobStatus.isRunning}" animate="true" value="50" max="100" type="success"><b>50%</b></progressbar> -->

                            </div>
                            <!-- <a href="">{{item}}</a>  -->
                            <!-- For now we support only export {started, cancelled, failed and finished} -->
                        </li>
<!--                            <li><a href="#">Action</a></li> -->
<!--                            <li><a href="#">Another action</a></li> -->
<!--                            <li><a href="#">Something else here</a></li> -->
<!--                            <li class="divider"></li> -->
<!--                            <li><a href="#">Separated link</a></li> -->
                    </ul>
                </li>
            </ul>

        </div>

<!--            <div class="collapse navbar-collapse"> -->
<!--                <ul class="nav navbar-nav"> -->
<!--                    <li class="active"><a href="#">Source Code</a></li> -->
<!--                    <li><a href="#">Link</a></li> -->
<!--                </ul> -->
<!--            </div> -->
    </div>
</nav>
