
    <div style="position: absolute; top: 50px; left: 0px; width: 500px; bottom: 0px; overflow: auto; padding: 5px; pointer-events:none" pointer-events-scroll-fix>


        <accordion close-others="false">

            <accordion-group style="pointer-events: auto" ng-if="ui.playground.show || true" is-open="ui.playground.isOpen">
                <accordion-heading>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': ui.playground.isOpen, 'glyphicon-chevron-right': !ui.playground.isOpen}"></i>
                    Playground
                    <a href="" ng-click="ui.playground.show = false"><span class="glyphicon glyphicon-remove-circle"></span></a>
                </accordion-heading>

                <table class="table table-striped">
                    <tr>
                        <th>Date</th><th>User</th><th>Reason</th><th>Additions</th><th>Removals</th>
                    </tr>
                    <tr ng-repeat="item in history">
                        <td title="{{item.createdDate}}">{{item.age}}</td><td>{{item.creatorName}}</td><td>{{item.changeReason}}</td><td>{{graphToTurtle(item.additionGraph)}}</td><td>{{graphToTurtle(item.removalGraph)}}</td>
                    </tr>
                </table>
            </accordion-group>


            <accordion-group style="pointer-events: auto;" ng-if="ui.search.show" is-open="ui.search.isOpen">
                <accordion-heading>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': ui.search.isOpen, 'glyphicon-chevron-right': !ui.search.isOpen}"></i>
                    {{'SEARCH_RESULTS' | translate}}
                    <a href="" ng-click="ui.search.show = false"><span class="glyphicon glyphicon-remove-circle"></span></a>
                </accordion-heading>

                <ul>
                <li ng-show="!(searchResults.length > 0)">({{'_THIS_LIST_EMPTY' | translate}})</li>
                <li ng-repeat="item in searchResults">
                    <a href="" ng-click="selectSearchResult(item)"><b>{{item.primaryName}}</b></a>
                    <span>{{item.description}}</span>
                </li>
                </ul>
            </accordion-group>

            <accordion-group style="pointer-events: auto;" is-open="ui.dataSources.isOpen">
                <accordion-heading>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': ui.dataSources.isOpen, 'glyphicon-chevron-right': !ui.dataSources.isOpen}"></i>
                    {{'DATA_SOURCES' | translate}} {{active.service ? '[' + active.service.name + ']': ''}}
                </accordion-heading>

                <div class="form-group">
                    <label class="control-label">{{'DS_AVAILABLE_DATA_SOURCES' | translate}}:<select ng-model="active.config" ng-options="item.name for item in active.serviceConfigs" class="form-control"></select></label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-class="{'active': ui.dataSources.showAddDialog}" ng-click="ui.dataSources.showAddDialog=!ui.dataSources.showAddDialog" class="form-control">{{'DS_ADD_DATA_SOURCE' | translate}}</button>
                    <button ng-if="active.config" class="btn" ng-click="deleteDataSource(active.config.id)" class="form-control">{{'DS_DELETE_DATA_SOURCE' | translate}}</button>
                </div>
            </accordion-group>

<!--            <accordion-group style="pointer-events: auto;" is-open="isOpenConcepts"> -->
<!--                <accordion-heading> -->
<!--                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isOpenConcepts, 'glyphicon-chevron-right': !isOpenConcepts}"></i> -->
<!--                    Concepts {{active.service ? '[' + active.service.name + ']': ''}} -->
<!--                </accordion-heading> -->

<!--                <ul> -->
<!--                    <li ng-show="conceptSpaces.length == 0" class="inactive">(there are no concepts yet)</li> -->
<!--                    <li ng-repeat="conceptSpace in conceptSpaces" ng-class="{'highlite': conceptSpace.active}"> -->
<!--                        <a href="" ng-click="removeConceptSpace($index)"><span class="glyphicon glyphicon-remove-circle"></span></a> -->
<!--                        <a href="" ng-click="selectConceptSpace($index)">{{conceptSpace.name}}</a> -->
<!--                    </li> -->
<!--                </ul> -->

<!--                <button class="btn btn-primary" ng-click="addConceptSpace()">Create a new Concept</button> -->
<!--            </accordion-group> -->

            <accordion-group class="portlet" style="pointer-events: auto;" is-open="ui.geoLinks.isOpen">
                <accordion-heading>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': ui.geoLinks.isOpen, 'glyphicon-chevron-right': !ui.geoLinks.isOpen}"></i>
                    {{'GEO_LINKS' | translate}}
                </accordion-heading>

<!-- ng-options="option.value as option.label for option in geoModes" -->
                <select class="form-control" ng-model="active.config.mapConfig.geoMode" ng-options="option.value as option.label for option in geoModes"></select>

<!--                <tabset> -->
                        <sparql-table table-service-supplier="active.tableGeoLink.tableServiceSupplier" config-supplier="active.tableGeoLink.configSupplier" table-mod="active.tableGeoLink.tableMod" context="tableContext" cell-renderer-supplier="active.tableGeoLink.cellRendererSupplier"></sparql-table>

<!--                    <tab heading="Candidates"> -->
<!--                        <ul> -->
<!--                            <li ng-repeat="geoPath in active.geoPaths"> -->
<!--                                <a title="{{'' + geoPath.path}}" href="" ng-click="setGeoPath(geoPath.path)">{{geoPath.name}}</a> -->
<!--                            </li> -->
<!--                        </ul> -->
<!--                    </tab> -->
<!--                    <tab heading="Active"> -->
<!--                        To be done -->
<!--                    </tab> -->
<!--                </tabset> -->
            </accordion-group>

            <accordion-group style="pointer-events: auto;" is-open="ui.facets.isOpen">
                <accordion-heading>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': ui.facets.isOpen, 'glyphicon-chevron-right': !ui.facets.isOpen}"></i>
                    {{'FACETS' | translate}}
                </accordion-heading>

                <div class="panel panel-info">
                    <div class="panel-heading portlet-heading">
                        {{'FACETS_FULL_TEXT_FILTER' | translate}}
                    </div>
                    <div class="panel-body">

                        <div ng-show="ui.baseConceptFilterString == null">
                            <form>
                                <div class="input-group">
    <!--                                 <label>Base concept: -->
                                    <input ng-model="ui.baseConceptFilterStringTmp" type="text" class="form-control"></input>
                                    <span class="input-group-btn">
                                        <button type="submit" ng-click="setBaseConcept(ui.baseConceptFilterStringTmp)" class="btn btn-default" type="button">{{'FACETS_SET_FILTER' | translate}}</button>
                                    </span>
    <!--                                 </label> -->
                                </div>
                            </form>
                        </div>
                        <div ng-show="ui.baseConceptFilterString != null">
                            {{'FACETS_FILTER' | translate}}: {{ui.baseConceptFilterString}}
                            <a href="" ng-click="setBaseConcept(null)"><span class="glyphicon glyphicon-remove-circle"></span></a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading portlet-heading">
                        {{'FACETS' | translate}}
                    </div>
                    <div class="panel-body">
                       <facet-list
                           ui-model="active.breadcrumb"
                           constraint-manager="active.config.facetTreeConfig.getFacetConfig().getConstraintManager()"
                           lookup-service-node-labels="active.services.lookupServiceNodeLabels"
                           constraint-service="active.services.listServiceConstraintLabels"
                           facet-service="active.services.facetService"
                           facet-value-service="active.services.facetValueService"
                           select="selectFacet(path)"
                           facet-plugins="facetTreePlugins"
                           plugin-context="facetTreePluginContext"
                       ></facet-list>
<!--                            lookup-service-constraint-labels="active.services.lookupServiceConstraintLabels" -->

<!--                        <facet-list ui-model="active.breadcrumb" sparql-service="active.services.sparqlService" facet-tree-config="active.config.facetTreeConfig" select="selectFacet(path)" plugins="facetTreePlugins" plugin-context="facetTreePluginContext"></facet-list> -->
                    </div>
                </div>

<!--
                <div class="panel panel-info">
                    <div class="panel-heading portlet-heading">
                        Facet Tree
                    </div>
                    <div class="panel-body">
                       <facet-tree sparql-service="active.services.sparqlService" facet-tree-config="active.facetTreeConfig" select="selectFacet(path)" plugins="facetTreePlugins" plugin-context="facetTreePluginContext"></facet-tree>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading portlet-heading">
                        Facet Values
                    </div>
                    <div class="panel-body">
                        <span>Showing values for <span class="label label-primary" ng-bind-html="active.pathLabel"></span></span>
                        <facet-value-list sparql-service="active.services.sparqlService" facet-tree-config="active.facetTreeConfig" path="active.path"></facet-value-list>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading portlet-heading">
                        Constraints
                    </div>
                    <div class="panel-body">
                        <constraint-list sparql-service="active.services.sparqlService" label-service="active.services.lookupServiceConstraintLabels" facet-tree-config="active.facetTreeConfig"></constraint-list>
                    </div>
                </div>
-->
            </accordion-group>
        </accordion>

    </div>


    <!-- Note: This div has overflow auto set, but actually it should never be needed -->
    <div style="position: absolute; margin: 0px; bottom: 20px; left: 530px; top: 50px; right: 5px; pointer-events: none;">

        <accordion style="background-color: white; position: absolute; overflow: auto; bottom: 0px; left: 0px; max-height: 100%; min-height: 50px; min-width: 50px; max-width: 100%; pointer-events: auto;" resizable="resizableConfig" bounds="ui.data.bounds" ng-style="!ui.data.isOpen && {width: '', height: ''}">
            <accordion-group is-open="ui.data.isOpen">
                <accordion-heading>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': ui.data.isOpen, 'glyphicon-chevron-right': !ui.data.isOpen}"></i>
                    {{'DATA' | translate}}
                </accordion-heading>

                <tabset>
                    <tab heading="{{'DATA_ALL' | translate}}" active="ui.data.tabs[0].isActive">
                        <div class="well well-sm">
                            <button class="btn btn-primary" ng-click="exportFacetTable(active.tableFacetAll.configSupplier())">{{'DATA_EXPORT' | translate}}</button>
                        </div>

                        <sparql-table table-service-supplier="active.tableFacetAll.tableServiceSupplier" config-supplier="active.tableFacetAll.configSupplier" table-mod="active.tableFacetAll.tableMod" cell-renderer-supplier="active.tableFacetAll.cellRendererSupplier" context="tableContext" disable-requests="!ui.data.tabs[0].isActive"></sparql-table>
                    </tab>

                    <tab heading="{{'DATA_Selection' | translate}}" active="ui.data.tabs[1].isActive">
                        <div class="well well-sm">
                            <button class="btn btn-primary" ng-click="exportFacetTable(active.tableFacetSelection.configSupplier())">{{'DATA_EXPORT' | translate}}</button>
                        </div>

                        <sparql-table table-service-supplier="active.tableFacetSelection.tableServiceSupplier" config-supplier="active.tableFacetSelection.configSupplier" table-mod="active.tableFacetSelection.tableMod" cell-renderer-supplier="active.tableFacetSelection.cellRendererSupplier" context="tableContext" disable-requests="!ui.data.tabs[1].isActive"></sparql-table>
                    </tab>

                    <tab heading="{{'DATA_ESSENTIAL_ALL' | translate}}" active="ui.data.tabs[2].isActive">
                        <div class="well well-sm">
                            <button class="btn btn-primary" ng-click="exportQuery(active.tableEssentialAll.configSupplier().query)">{{'DATA_EXPORT' | translate}}</button>
                        </div>

                        <sparql-table table-service-supplier="active.tableEssentialAll.tableServiceSupplier" config-supplier="active.tableEssentialAll.configSupplier" table-mod="active.tableEssentialAll.tableMod" cell-renderer-supplier="active.tableEssentialAll.cellRendererSupplier" context="tableContext" disable-requests="!ui.data.tabs[2].isActive"></sparql-table>
                    </tab>

                    <tab heading="{{'DATA_ESSENTIAL_SELECTION' | translate}}" active="ui.data.tabs[3].isActive">
                        <div class="well well-sm">
                            <button class="btn btn-primary" ng-click="exportQuery(active.tableEssentialSelection.configSupplier().query)">{{'DATA_EXPORT' | translate}}</button>
                        </div>

                        <sparql-table table-service-supplier="active.tableEssentialSelection.tableServiceSupplier" config-supplier="active.tableEssentialSelection.configSupplier" table-mod="active.tableEssentialSelection.tableMod" cell-renderer-supplier="active.tableEssentialSelection.cellRendererSupplier" context="tableContext" disable-requests="!ui.data.tabs[3].isActive"></sparql-table>
                    </tab>

                    <tab heading="{{'DATA_RESOURCE_SELECTION' | translate}}" active="ui.data.tabs[4].isActive">
                        <div class="well well-sm">
                            <button class="btn btn-primary" ng-click="exportQuery(active.tableResourceSelection.configSupplier().query)">{{'DATA_EXPORT' | translate}}</button>
                        </div>

                        <sparql-table table-service-supplier="active.tableResourceSelection.tableServiceSupplier" config-supplier="active.tableResourceSelection.configSupplier" table-mod="active.tableResourceSelection.tableMod" cell-renderer-supplier="active.tableResourceSelection.cellRendererSupplier" context="tableContext" disable-requests="!ui.data.tabs[4].isActive"></sparql-table>
                    </tab>


<!--                    <tab heading="Interlinking"> -->
<!--                        <form class="well form-horizontal"> -->
<!--                            <div class="form-group"> -->
<!--                                <label>Source Concept: <input ng-model="edit.name" type="text" class="form-control"></input></label> -->
<!--                            </div> -->
<!--                            <div class="form-group">                     -->
<!--                                <label>Target Concept: <input ng-model="edit.dataServiceIri" type="text" class="form-control"></input></label> -->
<!--                            </div> -->
<!--                            <button class="btn btn-primary" ng-click="hideCreateDataSource=true">Cancel</button> -->
<!--                            <button class="btn btn-primary" ng-click="addDataSource()">Confirm</button>          -->
<!--                        </form> -->
<!--                    </tab> -->

<!--                     <tab heading="Find Relations" active="ui.data.tabs[4].isActive"> -->
<!--                         <table> -->
<!--                         <tr><td> -->
<!--                             <div class="panel panel-info">  -->
<!--                                 <div class="panel-heading portlet-heading"> -->
<!--                                     Facet Tree -->
<!--                                 </div> -->
<!--                                 <div class="panel-body"> -->
<!--                                    <facet-tree sparql-service="active.services.sparqlService" facet-tree-config="active.targetFacetTreeConfig" select="selectTargetFacet(path)"></facet-tree> -->
<!--                                 </div> -->
<!--                             </div> -->

<!--                             <div class="panel panel-info">  -->
<!--                                 <div class="panel-heading portlet-heading"> -->
<!--                                     Facet Values -->
<!--                                 </div> -->
<!--                                 <div class="panel-body"> -->
<!--                                     <facet-value-list sparql-service="active.services.sparqlService" facet-tree-config="active.targetFacetTreeConfig" path="active.targetPath"></facet-value-list> -->
<!--                                 </div> -->
<!--                             </div> -->

<!--                             <div class="panel panel-info">  -->
<!--                                 <div class="panel-heading portlet-heading"> -->
<!--                                     Constraints -->
<!--                                 </div> -->
<!--                                 <div class="panel-body"> -->
<!--                                     <constraint-list sparql-service="active.services.sparqlService" facet-tree-config="active.targetFacetTreeConfig"></constraint-list> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </td><td> -->
<!--                              Candidates -->
<!--                              <ul> -->
<!--                             <li ng-repeat="geoPath in active.targetGeoPaths"> -->
<!--                                 <a href="">{{geoPath.name}}</a> -->
<!--                             </li> -->
<!--                              </ul> -->
<!--                         </td></tr> -->
<!--                         </table> -->
<!--                     </tab> -->

                </tabset>
            </accordion-group>
        </accordion>
    </div>

    <div style="position: absolute; margin: 0px; top: 50px; left: 530px; top: 50px; overflow: auto; pointer-events: none;">
        <tabset style="pointer-events: auto;">
            <tab ng-if="ui.dataSources.showAddDialog" heading="{{'DS_HEADING' | translate}}" style="width: 500px;">

                <div class="row" style="border-style:solid; background-color:#ffffff; #eeeeee; border-width: 1px; margin: 5px; padding: 5px;">
                    <div class="col-md-6">

                        <form class="well form-horizontal">
                            <div class="form-group">
                                <label>{{'DS_ADD_TITLE' | translate}}: <input ng-model="edit.name" type="text" class="form-control"></input></label>
                            </div>
                            <div class="form-group">
                                <label>{{'DS_ADD_SPARQL_IRI' | translate}}: <input ng-model="edit.dataServiceIri" type="text" class="form-control"></input></label>
                            </div>

                            <div class="form-group">
                                <label>{{'AUTH' | translate}}:<select ng-model="edit.auth.type" ng-options="item for item in authenticators.ids" class="form-control"></select></label>
                            </div>

<!--                             <span class="label label-danger">Password will be sent to the server - only use for testing!</span> -->
<!--                             <br /> -->

                            <!-- TODO: We need access to the model of the sub-form -->
                            <ng-include ng-if="authenticators.defs[edit.auth.type].template" src="authenticators.defs[edit.auth.type].template"></ng-include>

                            <div class="form-group">
                                <label>{{'DS_ADD_DEFAULT_GRAPHS' | translate}}: <input ng-model="edit.dataGraphIris" ng-list=" " ng-trim="false" type="text" class="form-control"></input></label>
                            </div>
                            <div class="form-group">
                                <label>{{'DS_ADD_JOIN_SUMMARY_SERVICE' | translate}}: <input ng-model="edit.jsServiceIri" type="text" class="form-control"></input></label>
                            </div>
                            <div class="form-group">
                                <label>{{'DS_ADD_JOIN_SUMMARY_GRAPHS' | translate}}: <input ng-model="edit.jsGraphIris" ng-list=" " ng-trim="false" type="text" class="form-control"></input></label>
                            </div>


                            <button class="btn btn-primary" ng-click="ui.dataSources.showAddDialog=false">{{'CANCEL' | translate}}</button>
                            <button class="btn btn-primary" ng-click="addDataSource()">{{'CONFIRM' | translate}}</button>
                        </form>
                    </div>
                    <div class="col-md-6" style="max-height: 500px; overflow: auto">
                        <dataset-browser sparql-service="datacatSparqlService" on-select="selectDataset(dataset, resource, distribution)"></dataset-browser>
                    </div>

                </div>
            </tab>
        </tabset>
    </div>

<!--     <div jassa-map-ol="map" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index:-9999" config="active.mapConfig" sources="active.dataSources" select="selectGeom(data)" unselect="unselectGeom(data)"></div> -->
     <div jassa-map-ol="map" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index:-9999" config="active.mapConfig" sources="active.dataSources" select="selectGeom(data, event)" unselect="unselectGeom(data, event)"></div>



<!--    <a href="https://github.com/GeoKnow/Facete2" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="images/forkme_right_green_007200.png" alt="Fork me on GitHub"></a> -->






