Package: facete2-tomcat7
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: facete2-tomcat-common, xsltproc, tomcat7
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: Facete2 Tomcat7
Distribution: development
