<div style="max-width: 100%; overflow: auto;">
<div style="max-width: 100%; overflow: auto;">

<span ng-show="loading.schema || loading.data || loading.pageCount">
    <img src="images/ajax-loader.gif" /> Loading...
    <span ng-show="loading.schema">(schema)</span>
    <span ng-show="loading.data">(data)</span>
    <span ng-show="loading.pageCount">(page count)</span>
</span>

<table show-filter="true" class="table">
    <thead>
    <tr>
<!--         <th ng-repeat="column in gridOptions.columnDefs" ng-show="column.visible" -->
<!--             class="text-center sortable" ng-class="{ -->
<!--                 'sort-asc': tableParams.isSortBy(column.field, 'asc'), -->
<!--                 'sort-desc': tableParams.isSortBy(column.field, 'desc') -->
<!--               }" -->
<!--             ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')"> -->
<!--             {{column.title}} -->
<!--         </th> -->
        <th ng-repeat="colDef in schema.colDefs">
            <span class="visible-on-hover-parent" style="white-space:nowrap;">
                <a href="" ng-click="removeColumn(colDef.field)"><span class="visible-on-hover-child glyphicon glyphicon-remove-circle"></span></a>
                <span title="{{'' + colDef.path}}" ng-bind-html="colDef.displayName"></span>
                <span ng-class="{'visible-on-hover-child': !getSortDir(colDef.field)}"><a href="" ng-hide="getSortDir(colDef.field) === 'asc'" ng-click="setSortCondition(colDef.field, 'asc', $event.shiftKey)"><span class="glyphicon glyphicon-chevron-up"></span></a></span>
                <span ng-class="{'visible-on-hover-child': !getSortDir(colDef.field)}"><a href="" ng-hide="getSortDir(colDef.field) === 'desc'" ng-click="setSortCondition(colDef.field, 'desc', $event.shiftKey)"><span class="glyphicon glyphicon-chevron-down"></span></a></span>
<!-- ng-class="{visible-on-hover-child: !!getSortDir(colDef.field)}"             class="visible-on-hover-child"-->
            </span>
        </th>
    </tr>
    </thead>
    <tbody>
    <td ng-show="!(myData.length > 0)" colspan="{{schema.colDefs.length}}" style="text-align:center">
      {{'_TABLE_EMPTY' | translate}}
    </td>

    <tr ng-repeat="row in myData">
        <td class="show-on-hover-parent-inline" ng-repeat="colDef in schema.colDefs" ng-init="cell=row[colDef.field]"> <!-- ng-show="column.visible">  -->
            <div compile="cellRendererSupplier()"></div>
<!--             <span title="{{cell.node.toString()}}" ng-bind-html="cell.displayLabel"></span> -->
<!--             <span style="cursor: pointer;" ng-context-menu="context.menuOptions" class="show-on-hover-child glyphicon glyphicon-asterisk"></span>                        -->
        </td>
    </tr>
    </tbody>
<!--     <tfoot> -->
<!--         <tr> -->
<!--             <td colspan="colDefs.length"> -->
<!--             </td> -->
<!--         </tr> -->
<!--     </tfoot> -->
</table>
</div>
<!-- <pagination class="pagination-small" total-items="totalServerItems" page="pagingOptions.currentPage" max-size="pagingOptions.pageSize" boundary-links="true" rotate="false" num-pages="Math.ceil(totalServerItems / pageOptions.pageSize)"></pagination> -->
<pagination class="pagination-small" ng-model="pagingOptions.currentPage" page="pagingOptions.currentPage" total-items="totalServerItems" items-per-page="pagingOptions.pageSize" max-Size="maxSize" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
<br />

<span translate="PAGINATION_SUB" translate-values="{ nr: {{myData.length || 0}}, pos: {{pagingOptions.currentPage ? (pagingOptions.currentPage - 1) * pagingOptions.pageSize + 1 : 0}}, cur: {{(pagingOptions.currentPage - 1) * pagingOptions.pageSize + myData.length}}, total: {{totalServerItems || 0}} }"></span>

<!-- <span>{{totalServerItems}} items in the table.</span> -->
<!-- <span>Showing {{myData.length || 0}} entries in the positions {{myData.length ? (pagingOptions.currentPage - 1) * pagingOptions.pageSize + 1 : 0}} - {{(pagingOptions.currentPage - 1) * pagingOptions.pageSize + myData.length}} out of {{totalServerItems || 0}} items in total.</span> -->
<!-- Num pages is {{numPages}} -->
</div>
